config SHIELD_ORBIT_LEFT
    def_bool $(shields_list_contains,orbit_left)

config SHIELD_ORBIT_RIGHT
    def_bool $(shields_list_contains,orbit_right)

config SHIELD_ORBIT_DONGLE
    def_bool $(shields_list_contains,orbit_dongle)
